pdf/(PDF) Heterogeneous Driver Modeling and Corner Scenarios Sampling for Automated Vehicles Testing.pdf
pdf/Chang 等 - 2023 - BEV-V2X Cooperative Birds-Eye-View Fusion and Grid Occupancy Prediction via V2X-Based Data Sharing.pdf
pdf/Chang 等 - 2024 - VistaScenario Interaction Scenario Engineering for Vehicles with Intelligent Systems for Transport.pdf
pdf/Ge 等 - 2024 - Dynamic Testing for Autonomous Vehicles Using Random Quasi Monte Carlo.pdf
pdf/Ge 等 - 2024 - Life-long Learning and Testing for Automated Vehicles via Adaptive Scenario Sampling as A Continuous.pdf
pdf/Guo 等 - 2024 - Mixing Left and Right-Hand Driving Data in a Hierarchical Framework With LLM Generation.pdf
pdf/Lian 等 - 2024 - Predictive Information Multiagent Deep Reinforcement Learning for Automated Truck Platooning Control.pdf
pdf/Lian 等 - 2024 - Predictive Vehicle Stability Assessment Using Lyapunov Exponent Under Extreme Conditions.pdf
pdf/Mao 等 - 2023 - Mastering Arterial Traffic Signal Control With Multi-Agent Attention-Based Soft Actor-Critic Model.pdf
pdf/Pei 等 - 2023 - Fault-Tolerant Cooperative Driving at Signal-Free Intersections.pdf
pdf/Tian 等 - 2023 - Parallel Learning-Based Steering Control for Autonomous Driving.pdf
pdf/Wang 等 - 2025 - Boosting the Training of Deep Reinforcement Learning Traffic Control by Using the World Model.pdf
pdf/Yu 等 - 2023 - CD-DB A Data Storage Model for Cooperative Driving.pdf
pdf/Zhang 等 - 2022 - Analysis of cooperative driving strategies at road network level with macroscopic fundamental diagra.pdf
